<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <form [formGroup]="personalInfoForm" *ngIf="personalInfoForm">
        <div class="row">
          <div class="col-lg-12">
            <label class="center-block">Imię:
              <input class="form-control" formControlName="name" [class.error]="hasErrors('name')">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <label class="center-block">Nazwisko:
              <input class="form-control" formControlName="surname" [class.error]="hasErrors('surname')">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <label class="center-block">Wiek:
              <input class="form-control" formControlName="age" type="number" [class.error]="hasErrors('age')">
            </label>
          </div>
        </div>
        <button class="btn btn-success" (click)="save()" [disabled]="!personalInfoForm.valid">Zapisz</button>
        <button class="btn btn-danger" (click)="clear()">Wyczyść</button>
      </form>
    </div>
  </div>
</div>
